*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --blue: rgb(0,72,255);
    --orange: rgb(255,193,7);
    --gray: rgb(229,229,229);
}
#loading {
    animation: rotation 8s infinite linear;
}

@keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}
.container-fluid{
    height: 195px !important;
    background-color: var(--blue);
    color: white;
    border-radius: 0px 0px 0px 100px;

    position: relative;
}
#logout-logo{
    width: auto;
    height: 35px;
}
#name-logout-div{
    height: 50px;
    position: absolute;
    right: 20px;
    top: 10px;
}
#welcome{
    text-shadow: 0px 0px 1px rgb(65, 64, 64);
}

.container-fluid h1{
    font-weight: 400;
    text-shadow: 0px 0px 10px rgb(149, 149, 149);
}

input{
    box-shadow: none !important;
}
button{
    box-shadow: none !important;
    text-shadow: 0px 0px 1px rgb(65, 64, 64);
}
table{
    width: 100%;
}
.table{
    overflow-x: scroll;
}
.table::-webkit-scrollbar{
    width: 0px;
}
th{
    border: 1px solid var(--blue);
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    height: 50px;
    padding: 0px 40px;
}
td{
    border: 1px solid var(--blue);
    font-weight: 500;
    font-size: 13px;
    text-align: center;
    height: 70px;
}

.fa-edit, .fa-trash-alt{
    font-size: 20px;
    cursor: pointer;
}
.fa-edit{
    color: var(--blue);
}
.fa-trash-alt{
    color: rgb(220,53,69);
}

.iconBtn{
    background-color: transparent;
    border: none;
    outline: none;
}
span{
    padding: 5px;
}



@media (max-width: 600px){
    #welcome{
        display: none;
    }
}