*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --blue: rgb(0,72,255);
    --orange: rgb(255,193,7);
    --gray: rgb(229,229,229);
}
#loading {
    animation: rotation 8s infinite linear;
}

@keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}
.container-fluid{
    height: 195px !important;
    background-color: var(--blue);
    color: white;
    border-radius: 0px 0px 0px 100px;
    /* clip-path: ellipse(240% 100% at 156.4% 0%); */
}
.container-fluid h1{
    font-weight: 400;
    text-shadow: 0px 0px 10px rgb(149, 149, 149);
}
/* .container{
    height: 82vh;
} */
input{
    box-shadow: none !important;
}
button{
    box-shadow: none !important;
}
.row{
    padding: 20px;
}
.body_row{
    height: 100%;
}
.col-lg-6{
    border-radius: 40px 0px 40px;
    border: 1px solid rgb(211, 211, 211);
    margin: 20px;
    padding: 50px 20px;
}